<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a class="list-group-item" href="/admin">Perfil</a>
                <a class="list-group-item active" aria-current="true" href="/admin/productos">Productos</a>
                <a class="list-group-item" href="/admin/usuarios">Usuarios</a>
                <a class="list-group-item" href="/admin/comentarios">Comentarios</a>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Name</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col" width="150px">
                            <a class="btn btn-primary btn-sm" href="/admin/productos/crear">Add new product</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <img src="{{image}}" alt="{{name}}" class="img-fluid">
                        </td>
                        <td>
                            <h3>{{name}}</h3>
                        </td>
                        <td>
                            <p>{{price}}</p>
                        </td>
                        <td>
                            <p>{{description}}</p>
                        </td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="">Editar</a>
                            <a class="btn btn-danger btn-sm" href="">Borrar</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>