<div class="container">
    <h1>{{product.name}}</h1>

    <div class="product-detail">
        <img src="{{product.image}}" alt="{{product.name}}">
        <div class="description-class">
            <p> <strong>Descripción:</strong> {{product.description}}</p>
            <p> <strong>Precio:</strong> {{product.price}} €</p>
            <a href="" class="btn btn-primary">Añadir al carrito</a>
        </div>
    </div>

    <div>
        {{#each ratings}}
        <p>{{comment}}</p>
        <p>{{rating}}</p>
        {{/each}}
    </div>
    <div>
    </div>
    <form action="/producto/{{product.id}}" method="POST">
        <h4 class="text-dark fs-3">Valora este producto</h4>
        <div class="mb-3">
            <textarea class="form-control" name="comment" id="comment" rows="10"></textarea>
        </div>
        <div>
            <div>
                <select name="rating" multiple>
                    <option type="text" class="rating" value="1">1</option>
                    <option type="text" class="rating" value="2">2</option>
                    <option type="text" class="rating" value="3">3</option>
                    <option type="text" class="rating" value="4">4</option>
                    <option type="text" class="rating" value="5">5</option>
                </select>
            </div>
        </div>
        <div>
            <button type="submit" class="ms-auto btn btn-success">continuar</button>
        </div>
    </form>
    <div class="p-2">
        <form action="/producto/{{product.id}}" method="POST">
            <button type="submit" class="btn btn-danger mb-3">
                Borrar rating
            </button>
        </form>

    </div>

    