<div class="container">
    <h1>{{product.name}}</h1>

    <div class="product-detail">
        <img src="{{product.image}}" alt="{{product.name}}">
        <div class="description-class">
            <p> <strong>Descripción:</strong> {{product.description}}</p>
            <p> <strong>Precio:</strong> {{product.price}} €</p>
            <form action="/carrito" method="POST">
                <input type="text" name="productId" value="{{product._id}}" hidden readonly>
                <button type="submit" class="btn btn-primary">Añadir al Carrito</button>
            </form>
            <p></p>
    </div>
</div>
</div>