<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">Imagen</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <img src="{{image}}" alt="{{name}}" class="img-fluid" width="50px" height="50px">
                        </td>
                        <td>
                            {{name}}
                        </td>
                        <td>
                            {{category}}
                        </td>
                        <td>
                            {{price}}
                        </td>
                        <td>
                            {{description}}
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-warning btn-sm" href="/admin/productos/{{_id}}/editar">Editar</a>
                                <form action="/admin/productos/{{_id}}/borrar" method="POST">
                                    <button type="submit" class="btn btn-danger btn-sm" href="">Borrar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>

                <thead>
                    <tr>
                        <th scope="col" id="total-value">Total: <span>0</span>€</th>
                        <th><a href="#" class="btn btn-primary">Pagar</a></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>